{% extends "base.html" %}
{% block title %}README{% endblock %}
{% block body %}
<h1>Todo</h1>
<p>Todo Application with Django</p>
<h2>Table of Contents</h2>
<ul>
<li><a href="#tech-stack">Tech Stack</a></li>
<li><a href="#setup-instructions">Setup Instructions</a></li>
<li><a href="#running-the-server">Running The Server</a></li>
<li><a href="#api-endpoints">API Endpionts</a>
<ul>
<li><a href="#testing-api-endpoints">Testing API Endpoints</a></li>
</ul>
</li>
<li><a href="#accessing-the-django-admin-panel">Accessing The Django Admin Panel</a></li>
</ul>
<h2 id="tech-stack">Tech Stack</h2>
<p>Language: Python <br />
Framework: Django / Django Rest Framework (DRF) <br />
Database: SQlite </p>
<h2 id="setup-instructions">Setup Instructions</h2>
<ol>
<li>Clone the repository
<pre><code>git clone https://github.com/whyshouldibother/todo.git
cd todo
</code></pre>
</li>
<li>Create Virtual Envirnoment (Recommended)
<pre><code>python -m venv .venv
source .venv/bin/activate
</code></pre>
</li>
<li>Install Dependencies
<pre><code>pip install -r requirements.txt
</code></pre>
</li>
<li>Applying Migrations
<pre><code>python server/manage.py makemigrations
python server/manage.py migrate
</code></pre>
</li>
</ol>
<h2 id="running-the-server">Running the server</h2>
<pre><code>python server/manage.py runserver
</code></pre>
<p>Server runs at 127.0.0.1:8000 or localhost:8000</p>
<h2 id="api-endpoints">API Endpoints</h2>
<table>
<thead>
<tr>
<th>Operation</th>
<th>Method</th>
<th>Endpoint</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td>Create</td>
<td>POST</td>
<td>/api/todos/</td>
<td>Create a new todo</td>
</tr>
<tr>
<td>Retrive All</td>
<td>GET</td>
<td>/api/todos/</td>
<td>Get all todos</td>
</tr>
<tr>
<td>Retrive One</td>
<td>GET</td>
<td>/api/todos/<id></td>
<td>Get a single todo</td>
</tr>
<tr>
<td>Update</td>
<td>PUT/PATCH</td>
<td>/api/todos/{id}</td>
<td>Create a new todo</td>
</tr>
<tr>
<td>Delete</td>
<td>DELETE</td>
<td>/api/todos/<id></td>
<td>Delete a todo</td>
</tr>
</tbody>
</table>
<h3 id="testing-api-endpoints">Testing API Endpoints</h3>
<ul>
<li>
<p>Create</p>
<pre><code>curl -X POST http://localhost:8000/api/todos/ \
-H &quot;Content-Type: application/json&quot; \
-d '{&quot;title&quot;:&quot;{Some title}&quot;, &quot;description&quot;:&quot;{Some Description}&quot;}'
</code></pre>
</li>
<li>
<p>Retrive All</p>
<pre><code>curl -X GET http://localhost:8000/api/todos/
</code></pre>
</li>
<li>
<p>Retrive One</p>
<pre><code>curl -X GET http://localhost:8000/api/todos/{id}/
</code></pre>
</li>
<li>
<p>Update</p>
<pre><code>curl -X PUT http://localhost:8000/api/todos/{id}/ \
-H &quot;Content-Type: application/json&quot; \
-d '{&quot;title&quot;:{&quot;New Title&quot;}, &quot;description&quot;:&quot;{New Description}&quot;}'
</code></pre>
<p>or</p>
<pre><code>curl -X PATCH http://localhost:8000/api/todos/{id}/ \
-H &quot;Content-Type: application/json&quot; \
-d '{&quot;title&quot;:{&quot;New Title&quot;}, &quot;description&quot;:&quot;{New Description}&quot;}'
</code></pre>
</li>
<li>
<p>Delete</p>
<pre><code>curl -X GET http://localhost:8000/api/todos/{id}/
</code></pre>
</li>
</ul>
<h2 id="accessing-the-django-admin-panel">Accessing the Django Admin Panel</h2>
<ul>
<li>Create Admin User
<pre><code>python server/manage.py createsuperuser
</code></pre>
</li>
<li>Restart The Server</li>
<li>Access Django Admin<br />
<code>http://localhost:8000/admin</code><br />
Login in with the superuser credentials</li>
</ul>
{% endblock %}