<html>
    <head>
        <title>
            API DOCS
        </title>
        <style>
            table, td, th{
                border: 1px solid black;
                border-collapse: collapse;
                padding: 1vw;
            }
        </style>
    </head>
    <h1>Endpoints</h1>
    <body>
        <table>
            <thead>
                <tr>
                    <th>
                        Method
                    </th>
                    <th>
                        Endpoint
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        POST
                    </td>
                    <td>
                        /api/todos/
                    </td>
                    <td>
                        Create a new todo
                    </td>
                </tr>
                <tr>
                    <td>
                        GET
                    </td>
                    <td>
                        /api/todos/
                    </td>
                    <td>
                        Get all todos
                    </td>
                </tr>
                <tr>
                    <td>
                        GET
                    </td>
                    <td>
                        /api/todos/&lt;id&gt;
                    </td>
                    <td>
                        Get a single todo
                    </td>
                </tr>
                <tr>
                    <td>
                        PUT / PATCH
                    </td>
                    <td>
                        /api/todos/&lt;id&gt;
                    </td>
                    <td>
                        Update a todo
                    </td>
                </tr>
                <tr>
                    <td>
                        GET
                    </td>
                    <td>
                        /api/todos/&lt;id&gt;
                    </td>
                    <td>
                        Delete a todo
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>